# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.log

# Django
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
.env

# VS Code / PyCharm / Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS Files
.DS_Store
Thumbs.db

# Virtual Environment
venv/
env/
ENV/
.venv/
.pytest_cache/
.tox/
.mypy_cache/
.coverage
*.mo
*.log

# Git backup files
*.orig
